body {
    font-family: 'Poppins', sans-serif;
    background-color: #0a1e27;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4F709C;
    color: #cbcbd4;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #0a1e27;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contributors {
    padding: 20px;
    background-color: #cbcbd4;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#contributors h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#contributors ul {
    list-style-type: none;
    padding: 0;
}

#contributors ul li {
    margin-bottom: 10px;
}

#contributors ul li strong {
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #4F709C;
    color: #fff;
}
