body {
    font-family: 'Poppins', sans-serif;
    background-color: #4F709C;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #4F709C;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 800px;
    margin: 25px auto;
    padding: 20px;
    background-color: #cbd5e1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#privacy-policy {
    margin-bottom: 15px;
}

#privacy-policy h2,
#privacy-policy h3 {
    margin-bottom: 10px;
}

#privacy-policy h3 {
    margin-top: 20px;
}

#privacy-policy p {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #4F709C;
    color: #fff;
}
